<div style="background-color:pink; width:100%; height:100%; ">
  <div class="menu-items" style=" display:flex;flex-direction: column; justify-content: space-evenly ; align-items: center; background: violet">
    <span *ngFor="let i of data.items" class="menu-items-item" style="height:30px;">
      {{i}}
    </span>
  </div>
</div>
