<div *ngIf="(pageData | async).pageLayout.type == 'menu_top'">
  <ng-container appComponentloader
                [data]="{items: (pageData | async).pageLayout.menuItems}"
                [template]="getMenu('MenuHorizontalComponent')">
  </ng-container>
  <ng-container appComponentloader
                *ngFor="let item of (pageData | async).pageItems"
                [data]="item.data"
                [template]="getComponent(item.component)">
  </ng-container>
  <ng-container appComponentloader
                *ngFor="let item of (pageData | async).pageItems"
                [data]="item.data"
                [template]="getComponent(item.component)">
  </ng-container>
  <ng-container appComponentloader
                *ngFor="let item of (pageData | async).pageItems"
                [data]="item.data"
                [template]="getComponent(item.component)">
  </ng-container>
  <ng-container appComponentloader
                *ngFor="let item of (pageData | async).pageItems"
                [data]="item.data"
                [template]="getComponent(item.component)">
  </ng-container>
</div>

<div *ngIf="(pageData | async).pageLayout.type == 'menu_left'">
  <div style="display:flex">
    <div style="position:fixed; top:0;left:0;width:20vw;height:100vh;">
      <ng-container appComponentloader
                    [data]="{items: (pageData | async).pageLayout.menuItems}"
                    [template]="getMenu('MenuVerticalComponent')">
      </ng-container>
    </div>
    <div style="margin-left:20vw;width:80vw;">
      <ng-container appComponentloader
                    *ngFor="let item of (pageData | async).pageItems"
                    [data]="item.data"
                    [template]="getComponent(item.component)">
      </ng-container>
      <ng-container appComponentloader
                    *ngFor="let item of (pageData | async).pageItems"
                    [data]="item.data"
                    [template]="getComponent(item.component)">
      </ng-container>
      <ng-container appComponentloader
                    *ngFor="let item of (pageData | async).pageItems"
                    [data]="item.data"
                    [template]="getComponent(item.component)">
      </ng-container>
    </div>
  </div>
</div>
