<div class="menu" style="width:100vw; background-color:pink; height:50px; display:flex; justify-content: space-evenly;align-items: stretch;">
  <div class="menu-logo" style="width:100%; background: yellow">asdfasdf</div>

  <div class="menu-items" style="width:100%; display:flex; justify-content: space-evenly ; align-items: center; background: violet">
    <span *ngFor="let i of data.items" class="menu-items-item">
      {{i}}
    </span>
  </div>

</div>
